
/* 
    Created on : 14 Nov 2024, 01:35:53
    Author     : Andre, Elias, Vusi
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/elegant-new-year-s-day-doodle-page-print-border-design-with-blank-empty-space-mock-up-background_938957-44600.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}




.page-heading {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

    .page-heading .page-breadcrumb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

        .page-heading .page-breadcrumb .page-title {
            font-size: 1.5rem;
            margin: 0
        }

        .page-heading .page-breadcrumb .page-title-sep {
            margin-right: 25px;
            padding-right: 25px;
            border-right: 1px solid #e4e5ec
        }

        .page-heading .page-breadcrumb .breadcrumb {
            padding: 0;
            margin: 0;
            font-size: 13px;
            background-color: inherit;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

            .page-heading .page-breadcrumb .breadcrumb li {
                float: none;
                color: #868e96
            }

                .page-heading .page-breadcrumb .breadcrumb li a {
                    color: inherit
                }

                .page-heading .page-breadcrumb .breadcrumb li + li:before {
                    content: '\002022';
                    color: inherit
                }

    .page-heading .subheader_daterange {
        background: #fff;
        -webkit-border-radius: .25rem;
        border-radius: .25rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
        cursor: pointer
    }

    .page-heading .subheader-daterange-label {
        padding: 8px 20px;
        font-size: 13px;
        white-space: nowrap
    }

    .page-heading .subheader-daterange-title {
        color: #6c757d
    }

    .page-heading .subheader-daterange-date {
        font-weight: 500;
        color: #004C8E;
        margin-left: 6px
    }

    .page-heading .subheader_daterange .btn {
        height: auto;
        border: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        color: #004C8E;
        background-color: #bfc8fa;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

@media (max-width:767.98px) {
    .page-heading .page-title-sep {
        margin-right: 0;
        padding-right: 0;
        border: none
    }

    .page-heading .breadcrumb {
        display: none
    }
}


/*
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}*/